%h1= t(".title")
.buttons_panel
  = link_to "Нова категорія", new_admin_category_path, class: "btn btn-outline-primary btn-sm"


  %table.table
    %thead
      %tr
        %th= "#"
        %th= "Назва"
        %th= "Категорія батько"
        %th
    %tbody
      - @categories.each_with_index do |category, index|
        %tr
          %td= index + 1
          %td= category.name
          %td= category.parent.name if category.parent.present?
          %td
            = link_to "Змінити", edit_admin_category_path(category), class: "btn btn-outline-primary btn-sm"
            = link_to "Видалити", admin_category_path(category), method: :delete, data: { confirm: "Ви впевнені?" }, class: "btn btn-outline-danger btn-sm"
