.article.post
  .section.post-by
    - if post.user.image.attached?
      = image_tag post.user.image.variant(resize: '35x'), class: "image_show"
    - else
      = image_tag("avatar.png", width: 35, class: "image_show")
    = post.user.full_name
  .section.post-head
    %h2= link_to post.title, post_path(post)
    .br
    .small
      %h5.time
        = post.created_at.to_date.strftime("%d %B, %Y")
        - if post.category.present?
          |
          = link_to post.category.name, post.category
        - if user_signed_in? && post.user.id == current_user.id
          |
          = link_to I18n.t("common.change"), edit_post_path(post)
          |
          = link_to t("common.delete"), post_path(post), method: :delete, data: { confirm: t("common.are_you_sure") }
  .section.post-summary.clearfix
    = image_tag post.images.first.variant(resize: '200x200'), class: "variant" if post.images.attached?
    %h5= post.summary
  .btn-group
    = image_tag("like.png", width: 20, height: 20)
    .retreat_index
      %h5= post.likes.where(like: true).count
  .btn-group
    .move_index
      = image_tag("dislike.png", width: 20, height: 20)
    .retreat_index
      %h5= post.likes.where(like: false).count
  .section.footer-summary
    = raw post.tags.map(&:name).map { |t| link_to t, tag_path(t), class: "badge badge-primary" }.join(' ')