-if user_signed_in? && (current_user.first_name.nil? || current_user.last_name.nil?)
  = controller.redirect_to edit_user_registration_path, alert: "Вам потрібно вказати Ваше ім'я та прізвище"
-else
  %h1= t("posts.index.title")
  = form_tag posts_path, method: :get, class: 'form-inline' do
    %i
      = text_field_tag :search, params[:search], placeholder: "Search...", class: 'form-control'
      = submit_tag("Search", name: nil, class: "btn btn-outline-primary")
  %br
  - if user_signed_in? && current_user.admin?
    = link_to t("admin.posts.new.title"), new_admin_post_path, class: "btn btn-outline-primary btn-sm"
  = render @posts
  = paginate @posts