= render "shared/breadcrumb", category: @post.category

.article.post
  .section.post-head
    %h1= @post.title
    .br
    .small
      %h5.time
        = @post.created_at.to_date.strftime("%d %B, %Y")
        - if @post.category.present?
          |
          = link_to @post.category.name, @post.category
        - if user_signed_in? && current_user.admin?
          |
          = link_to t("common.change"), edit_post_path(@post)
          |
          = link_to t("common.delete"), post_path(@post), method: :delete, data: { confirm: t("common.are_you_sure") }
  .section.post-body
    - if @post.images.attached?
      #carouselExampleControls.carousel.slide{"data-ride" => "carousel"}
        .carousel-inner
          .carousel-item.active
            = image_tag @post.images.first, class: "img-show"
          - @post.images.each do |image|
            .carousel-item
              = image_tag image, class: "img-show"
        %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleControls", :role => "button"}
          %span.carousel-control-prev-icon{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleControls", :role => "button"}
          %span.carousel-control-next-icon{"aria-hidden" => "true"}
          %span.sr-only Next
    %h5= @post.body.html_safe
  .btn-group
    = link_to image_tag("like.png", width: 35, height: 35), post_likes_path(@post), method: :delete, remote: :true, class: "like"
    .retreat
      %h4= @post.likes.where(like: true).count
  .btn-group
    = link_to image_tag("dislike.png", width: 35, height: 35), post_dislikes_path(@post), method: :delete, remote: :true, class: "move dislike"
    .retreat
      %h4= @post.likes.where(like: false).count
  .btn-group
    .group
      = link_to image_tag("comment.png", width: 30, height: 30), new_post_comment_path(@post)
      = link_to "Коментувати", new_post_comment_path(@post)
= render "comments/all_comments"

