= render "shared/breadcrumb", category: @post.category

.article.post
  .section.post-head
    %h1= @post.title
    .br
    .small
      %h5.time
        = @post.created_at.to_date.strftime("%d %B, %Y")
        - if @post.category.present?
          |
          = link_to @post.category.name, @post.category
        - if user_signed_in? && current_user.admin?
          |
          = link_to t("common.change"), edit_admin_post_path(@post)
          |
          = link_to t("common.delete"), admin_post_path(@post), method: :delete, data: { confirm: t("common.are_you_sure") }
  .section.post-body
    = image_tag @post.image.variant(resize: '900x900'), class: "img-show" if @post.image.attached?
    %h5= @post.body.html_safe
  .btn-group
    = link_to image_tag("like.png", width: 35, height: 35), post_likes_path(@post), method: :delete, remote: :true, class: "like"
    .retreat
      %h4= @post.likes.where(like: true).count
  .btn-group
    = link_to image_tag("dislike.png", width: 35, height: 35), post_dislikes_path(@post), method: :delete, remote: :true, class: "move dislike"
    .retreat
      %h4= @post.likes.where(like: false).count

      //= render "posts/disqus"